* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

.fullscreen-video-wrap video{
  z-index: -99;
  position: absolute;
  width: 100vw;
}

.video-overlay {
  background: radial-gradient(63.7% 63.7% at 50% 50%, rgba(0, 0, 0, 0.53) 0%, rgba(0, 0, 0, 0.99) 100%);
  z-index: -50;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#level-title {
  z-index: 1;
  color: #eebb4d;
  display: block;
  text-align: center;
  padding-top: 10vh;

}

.row {
  display: flex;
  justify-content: center;
}

.btn {
  z-index: 99;
  margin: 25px;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #f0134d;
}

.green {
  background-color: green;
}

.blue {
  background-color: #40bfc1;
}

.yellow {
  background-color: #eebb4d;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
